html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

.navbar {
    background-color: black;
    color: white;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    color: #333;
}

